ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:white;
}

li{
  float:left;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: solid black 2px;
  margin:10px
}

.auth-button{
  margin-left: 500px;
}


.content{
  background-color: whitesmoke 
  
}